

.logo img {
	height: 100px;
}

.menu {
	font-weight: 600 !important;
	text-transform: uppercase;
	padding: 0 20px !important;
	/* padding-top: 0;
	padding-right: 20px;
	padding-bottom: 0;
	padding-left: 20px;
	 */
	border-left: 1px solid #666 !important;
	/* border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #666; */
	font-size: 20px !important;
}

.menu:first-child {
	border-left: none !important;
}

.menu a {
	color: #666;
	text-decoration: none;
}

.menu a:hover {
	opacity: 0.7;
}


.carousel-img {
	width: 100%;
	object-fit: cover;   
	height: 80vh;
  }
  
.section{
	margin: 0 4%;
}

  .servico img{
	width: 100%;
	height: 70%;
  }

  .section h3{
	background-color: black;
	color: rgb(255, 255, 255);
	font-size: 1.3rem;
	text-align: center;
  }

  .titulo{
	color: black;
  }

  .rodape{
	width: 100%;
	background-color: #333;
  }

  .contato{
	padding: 20px 0;
  }

  .contato h1{
	color: white;
	font-size: 25px;
	text-align: center;
	align-items: center;
	margin-bottom: 20px;
  }

  input, textarea{
	width: 100%;
	padding: 5px;
  }

  .linhaForm{
	margin: 10px 0;
  }

  input[type='submit']{
	width: auto;
	padding: 5px 20px;
	background-color: #666;
	color: #fff;
	float: right;
  }

  .simbTele{
	color: #fff;
	width: 30px;
	height: 30px;
  }
  