.logo img {
	height: 100px;
}

.menu {
	font-weight: 600 !important;
	text-transform: uppercase;
	padding: 0 20px !important;
	/* padding-top: 0;
	padding-right: 20px;
	padding-bottom: 0;
	padding-left: 20px;
	 */
	border-left: 1px solid #666 !important;
	/* border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #666; */
	font-size: 20px !important;
}

.menu:first-child {
	border-left: none !important;
}

.menu a {
	color: #666;
	text-decoration: none;
}

.menu a:hover {
	opacity: 0.7;
}


.carousel-img {
	width: 100%;
	object-fit: cover;   
	height: 80vh;
  }
  
.section{
	margin: 0 4%;
}

.servico img{
	width: 100%;
	height: 70%;
}

.section h3{
	background-color: black;
	color: rgb(255, 255, 255);
	font-size: 1.3rem;
	text-align: center;
}

.titulo{
	color: black;
}

.rodape{
	width: 100%;
	background-color: #333;
	margin-top: 50px;
}

.contato h1{
	color: white;
	font-size: 25px;
	text-align: center;
	align-items: center;
	margin-bottom: 30px;
	margin-top: 30px;
}

input, textarea{
	width: 100%;
	padding: 5px;
}

textarea{
	height: 120px;
}

.linhaForm{
	margin: 10px 0;
}

.linhaForm2{
	margin: 10px 0;
	display: flex;
}

.linhaForm2 p{
	color: #fff;
	margin-left: 20px ;
}

input[type='submit']{
	width: auto;
	padding: 5px 20px;
	width: 130px;
	background-color: #666;
	color: #fff;
	float: right;
}

.telephone, .location, .whatsapp, .linkedin, .facebook, .instagram{
	color: #fff;
	width: 30px;
	height: 30px;
}

.instagram{
	margin-left: 10px;
	margin-right: 10px;
}

.mapa{
	width: 100%;
	height: 250px;
	margin-top: 30px;
}

.direitosAutorais{
	width: 100%;
	padding: 10px 0;
	background-color: #cccccc;
	text-align: center;
	margin-top: -7px;
}

.tituloBanhoTosa{
	background-color: #333;
	margin-top: 20px;
	width: fit-content;
	padding: 10px 300px 10px 20px;
	color: #fff;
	font-size: 30px;
	text-transform: uppercase;
}

.imgContentBT{
	width: fit-content;
	/* border: solid; */
	margin-top: 30px;
	/* margin-left: 100px; */
}

.imgContentBT img{
	width: 600px;
	height: 100%;
}

.txtContentBT{
	margin-top: 35px;
	margin-left: -40px;
}

.txtContentBT p{
	text-align: justify;
	margin-bottom: 10px;
}

.txtContentBT button{
	margin-top: 10px;
	color: #fff;
	background-color: #333;
	width: 130px;
	border-radius: 10px;
}

.txtContentBT button:hover{
	color: #bebebe;
	background-color: #292929;
	transition: 0.2s;
	transform: scale(0.92, 0.92);
}

.CTA_div{
	text-transform: uppercase;
	width: 100%;
	background-color: #bebebe;
	text-align: center;
	justify-content: center;
	align-items: center;
	margin: auto;
	margin-top: 30px;
	padding: 10px 0px 10px 0px;
}

.txt_CIR_BT button{
	margin-top: 10px;
	color: #fff;
	background-color: #333;
	width: 130px;
	border-radius: 10px;
}

.txt_CIR_BT button:hover{
	color: #bebebe;
	background-color: #292929;
	transition: 0.2s;
	transform: scale(0.92, 0.92);
}

.bannerAdestramento{
	width: 100%;
}

.areaImgAdestramento img{ 
	width: 200px;
	height: 160px;
	margin: 0 2px;
}

.areaImgAdestramento{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 50px;
}

.h2Acordeon{
	justify-content: center;
	text-align: center;
	font-size: 25px;
}

.linhaImgResort{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 0.4%;
}

.linhaImgResort img{
	width: 180px;
	height: 180px;
	margin-left: 0.2%;
	margin-right: 0.2%;
}

.textoResort{
	text-align: justify;
}